body {
    background-color: #8ac6d1;
}


.clock_container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 142px;
}
.clock {
    position: absolute;
    right: 0;
}
.date {
    margin-top: 152px;
    text-align: center;
}